

<h1>Comments</h1>
<h4>Post:  <%= @post.title %></h4>
<% if user_signed_in? %>
  <%= link_to 'Add New Comment', new_post_comment_path(@post), id: "comment_link", remote: true %>
<% else %>
  <%= link_to 'Add New Comment', new_post_comment_path(@post), id: "comment_link"%>
<% end %>
<br>

<div id="all_comments">
  <% if @comments.any? %>
    <%= render @all_comments %>
  <% else %>
    <p>There are currently no comments for this post.</p>
  <% end %>
</div>


<br>
<% content_for :navbar do %>
  <li><%= link_to "Back", posts_path() %></li>
<% end %>
