<h1><%= @project.name %></h1>

<h3>Description:</h3>
<p><%= @project.description %> </p>

<h3>Github Link</h3>
<p><%= @project.github_link %></a></p>

<hr>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <p><%= link_to "Edit", edit_skill_project_path(@skill, @project), class: "btn btn-primary" %> - <%= link_to "Delete", skill_project_path(@skill, @project), class: "btn btn-danger", :data => {:confirm => "Are you sure?", :method => 'delete'} %></p>
  <% end %>
<% end %>

<% content_for :navbar do %>
  <li><%= link_to "Back", skill_path(@skill) %></li>
<% end %>
