<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="container"> -->
  <div class="row" id="user_nav">
    <div class="col-sm-3">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>
    <div class="col-sm-9" style="text-align: right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Edit Profile", edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>
<!-- </div> -->


<div class="container" id="main_content">
  <%= yield %>
</div>


  <div class="container">
    <div class="row" id="nav-row">
      <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">JJ</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <%= yield(:navbar) %>
                <li><a href="/">Skills</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  </div>
</body>
</html>
